player-connection-mode=Connect
player-connection-guid=701307991
player-connection-debug=0
player-connection-project-name=Wiz
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.161
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=1e74e81ce1c145b9bac9d18867bbf4e1
